[Unit]
Description=GRIP API

[Service]
Type=simple
User=bgp
Group=bgp
ExecStart=/usr/local/bin/grip-api
Restart=on-failure
SyslogIdentifier=grip-api

[Install]
WantedBy=multi-user.target
