<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block title %} BGPHijacks Dashboard {% endblock title %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="/app/vendors/gentelella/images/favicon.ico" type="image/ico"/>

        <!-- Bootstrap -->
        <link href="/app/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="/app/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/app/vendors/datatables/src/jquery.dataTables.min.css" rel="stylesheet">
        <!-- bootstrap-progressbar -->
        <link href="/app/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href="/app/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <link href="/app/vendors/leaflet/leaflet.css" rel="stylesheet">
        <!-- Gentelella Style -->
        <link href="/app/vendors/gentelella/build/css/custom.min.css" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="/app/hijacks_web/ui_components/custom.css" rel="stylesheet">
    </head>

    <body class="nav-md" onload="{{context.onload_function}}">


        <div class=" container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="/events_suspicious/all" class="site_title"><i class="fa fa-paw"></i> <span>BGPHijacks Dashboard</span></a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <!--<h3>General</h3>-->
                                <ul class="nav side-menu">
                                    <li>
                                        <a><i class="fa fa-times"></i> Suspicious <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/events_suspicious/all">ALL</a></li>
                                            <li><a>ORIGIN HIJACKS<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: block;">
                                                    <li><a href="/events_suspicious/moas">MOAS</a></li>
                                                    <li><a href="/events_suspicious/submoas">SUBMOAS</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/events_suspicious/defcon">DEFCON-16 HIJACKS</a></li>
                                            <li><a href="/events_suspicious/edges">FAKE PATH HIJACKS</a></li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-question"></i> Less Suspicious <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/events_grey/all">ALL</a></li>
                                            <li><a>ORIGIN HIJACKS<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: block;">
                                                    <li><a href="/events_grey/moas">MOAS</a></li>
                                                    <li><a href="/events_grey/submoas">SUBMOAS</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/events_grey/defcon">DEFCON-16 HIJACKS</a></li>
                                            <li><a href="/events_grey/edges">FAKE PATH HIJACKS</a></li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-check"></i> Benign <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/events_benign/all">ALL</a></li>
                                            <li><a href="/events_benign/moas">MOAS</a></li>
                                            <li><a href="/events_benign/submoas">SUBMOAS</a></li>
                                            <li><a href="/events_benign/defcon">DEFCON-16</a></li>
                                            <li><a href="/events_benign/edges">NEW EDGE</a></li>
                                        </ul>
                                    </li>

                                    <li><a><i class="fa fa-user"></i> Misconfiguration <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/events_misconf/all"> ALL </a></li>
                                            <li><a href="/events_misconf/asn_prepend"> ASN Prepending </a></li>
                                            <li><a href="/events_misconf/fatfinger_prefix"> Fat-finger prefix </a></li>
                                            <li><a href="/events_misconf/fatfinger_asn"> Fat-finger ASN </a></li>
                                            <li><a href="/events_misconf/reserved_space"> Reserved Space </a></li>
                                        </ul>
                                    </li>

                                    <li><a href="/blacklist"><i class="fa fa-book"></i> AS Blacklist </a></li>

                                    {% if context.debug and context.debug == true %}
                                    <!-- only show up when you have `?debug=true` in url -->
                                    <li><a href="/tags"><i class="fa fa-tag"></i> Tags </a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu -->
                    </div>
                </div>

                <!-- page content -->
                <div class="right_col" role="main">

                    {% block content %}
                    {% endblock content %}

                </div>
                <!-- /page content -->
            </div>
        </div>


        <!-- jQuery -->
        <script src="/app/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/app/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Chart.js -->
        <!--<script src="/app/vendors/Chart.js/dist/Chart.min.js"></script>-->
        <!-- Flot -->
        <script src="/app/vendors/Flot/jquery.flot.js"></script>
        <script src="/app/vendors/Flot/jquery.flot.pie.js"></script>
        <script src="/app/vendors/Flot/jquery.flot.time.js"></script>
        <script src="/app/vendors/Flot/jquery.flot.stack.js"></script>
        <script src="/app/vendors/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src="/app/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="/app/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="/app/vendors/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src="/app/vendors/DateJS/build/date.js"></script>
        <!-- GoogleCharts -->
        <script src="/app/vendors/GoogleCharts/loader.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="/app/vendors/moment/min/moment.min.js"></script>
        <script src="/app/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- datatables -->
        <script src="/app/vendors/datatables/src/jquery.dataTables.min.js"></script>
        <!--leaflet-->
        <script src="/app/vendors/leaflet/leaflet.js"></script>
        <script src="/app/vendors/leaflet/leaflet.textpath.js"></script>
        <!--renderjson-->
        <script src="/app/vendors/renderjson/renderjson.js"></script>

        <!-- Custom Scripts -->
        <script src="/app/hijacks_web/ui_components/custom.js"></script>
        <script src="/app/hijacks_web/index.js"></script>

    </body>

</html>
