{% extends "event_detail" %}

{% block header_footer %}
<thead>
<tr>
    <th>Origins</th>
    <th>Newcomer Origins</th>
    <th>Prefix</th>
    <th>Tags</th>
    <th>Traceroutes</th>
</tr>
</thead>
{% endblock header_footer %}
