{% extends "event_detail" %}

{% block header_footer %}
<thead>
<tr>
    <th>Super Origins</th>
    <th>Sub Origins</th>
    <th>Super Prefix</th>
    <th>Sub Prefix</th>
    <th>Tags</th>
    <th>Traceroutes</th>
</tr>
</thead>
{% endblock header_footer %}
