td.details-control {
    background: url('/app/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/app/images/details_close.png') no-repeat center center;
}

button:disabled {
    color : #C3C3C3;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.bottom-border { border-bottom: 1px dashed black; }


.container{
}

.child{
   margin-left: 100px;
   margin-right: 100px;
   display:inline-block;
}

#traceroute-map { height: 1000px; }

a {
  transition: color .4s;
  color: #265C83;

}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

a.event_tag:link,
a.event_tag:visited { color: white }
a.event_tag:hover   {}
a.event_tag:active  {
    transition: color .3s;
    color: #007BE6;
}

.link {
    text-decoration: underline;
}

.tooltip {
  text-align:left;
}

.tooltip-inner {
    text-align: left;
}

.hi3.x_title{
    color: #2c3e50;
}
.hi3.row{
    margin-left: 10px;
    margin-right: 10px;
}

